.msg_box {
    background-color: #eee;
}

#msgForm {
    margin: 0% 0% 0% 0%;
    bottom:0;   
}

#messages {
    overflow-y: scroll;
    height: 450px;
}

.msgs {
    opacity: 0.6;
    background-color: #E8E8E8;
    border-radius: 2px;
    border: solid;
    border-color: black;
    margin-bottom: 5px;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 0px 0;
}

.darker { 
 border-color: #ccc;
 background-color: #ddd;
}

.container::after {
 content: "";
 clear: both;
 display: table;
}

.container b {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container b.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}