<!DOCTYPE html>
<html lang="en">
    <head>
        <title>It's Matthew</title>
        <link rel="stylesheet" href="../static/css/history.css"></link>
    </head>

    <body>
        <div class="parent" style="background-color: beige; border: 2px; border: solid; border-color: black;">
            My Div
            <p class="first" style="background-color: gray;">One</p>
            <p class="second" style="background-color: blue;">Two</p>
            <p class="third" style="background-color: darkgreen;">Three</p>
        </div>
    </body>
</html>