{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/login.css">
{% endblock %}

{% block log %}
<a class="nav-item nav-link" href="{{ url_for('views.login') }}">Login</a>
{% endblock %}

{% block content %} 

<div class="login-page">
    <form class="login-form shadow p-3 mb-5 pb-3 pt-3 bg-white rounded" action="#" method="POST">
        <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Your Name" aria-label="Username" aria-describedby="basic-addon1">
        <button type="submit" class="btn btn-success mb-2 form-control">Submit</button>
    </form>
</div>
{% endblock %}